.trace {
  border: 1px solid black;
  min-height: 200px;
}

#canvas-container {
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#main-canvas {
  z-index: 1;
}

#particles-overlay {
  z-index: 2;
}

#victim-face {
  display: none;
}
